In [27]:
from sklearn.model_selection import train_test_split
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

Load dataset

In [28]:
emp_data=pd.read_csv("emp_buying_capacity.csv")

In [29]:
emp_data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [30]:
emp_data.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

Create a label encoder and Encode the non-numeric columns

In [31]:
from sklearn.preprocessing import LabelEncoder
Gender_encoder = LabelEncoder()
emp_data["Gender"] = Gender_encoder.fit_transform(emp_data["Gender"])

Split the data into features and target variables

In [32]:
X = emp_data[['User ID', 'Gender', 'Age','EstimatedSalary']]
y = emp_data['Purchased']

Split the data into training and testing sets

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

Create a LogisticRegression

In [34]:
from sklearn.linear_model import LogisticRegression

In [35]:
logmodel = LogisticRegression(solver='lbfgs')
logmodel.fit(X_train,y_train)

LogisticRegression()

Make predictions on the testing data

In [36]:
predictions = logmodel.predict(X_test)

Create a Classification report

In [37]:
from sklearn.metrics import classification_report

In [38]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.81      0.99      0.89        80
           1       0.97      0.63      0.77        52

    accuracy                           0.85       132
   macro avg       0.89      0.81      0.83       132
weighted avg       0.87      0.85      0.84       132

In [39]:
from sklearn.metrics import confusion_matrix

Create a Confusion Matrix

In [40]:
print(confusion_matrix(y_test, predictions))

[[79  1]
 [19 33]]